openapi: 3.0.0
info:
  title: Pitbull Gym API
  description: Representación conceptual de las operaciones de base de datos y autenticación del sistema Pitbull Gym (Basado en Firebase/Firestore).
  version: 1.0.0
servers:
  - url: https://api.pitbullgym.com/v1
    description: Mock/Concept Server

paths:
  /auth/register:
    post:
      summary: Registrar nuevo socio
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - documento
                - objetivo
                - diaPagoFijo
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                documento:
                  type: string
                  description: DNI del usuario
                objetivo:
                  type: string
                  enum: [Ganar músculo, Perder peso, Mejorar resistencia, Tonificar cuerpo, Aumentar fuerza, Rehabilitación, Bienestar general]
                diaPagoFijo:
                  type: integer
                  description: Día esperado de pago mensual (ej. 10)
      responses:
        '201':
          description: Socio creado exitosamente
        '400':
          description: Correo ya registrado o datos inválidos

  /auth/login:
    post:
      summary: Iniciar sesión de usuario
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login exitoso, devuelve JWT Token (Simulado Firebase Auth)
        '401':
          description: Credenciales incorrectas

  /socios:
    get:
      summary: Obtener lista de todos los socios (Solo Admin)
      tags:
        - Administrador
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorna array de usuarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'

  /pagos/mes-actual:
    get:
      summary: Obtener los pagos registrados del mes y año actual (Solo Admin)
      tags:
        - Pagos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de pagos del mes en curso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pago'

  /pagos/registrar:
    post:
      summary: Registra el abono mensual de un socio (Solo Admin)
      tags:
        - Administrador
        - Pagos
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idSocio
                - monto
              properties:
                idSocio:
                  type: string
                  description: UID de Firestore del socio
                monto:
                  type: number
                  format: double
                  description: Monto pagado
      responses:
        '201':
          description: Pago registrado con éxito en Firestore

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    Usuario:
      type: object
      properties:
        uid:
          type: string
        nombre:
          type: string
        email:
          type: string
        documento:
          type: string
        objetivo:
          type: string
        rol:
          type: string
          example: miembro
        diaPagoFijo:
          type: integer
          example: 10
        fechaRegistro:
          type: string
          format: date-time
          
    Pago:
      type: object
      properties:
        idPago:
          type: string
        idSocio:
          type: string
        monto:
          type: number
          format: double
        mes:
          type: integer
          example: 4
        anio:
          type: integer
          example: 2024
        fechaPago:
          type: string
          format: date-time
